<div class="ambient" aria-hidden="true">
  <div class="ambient-leaves">
    <div class="set">
      <div><img src="{{ url_for('static', filename='img/leaf_01.png') }}" alt=""></div>
      <div><img src="{{ url_for('static', filename='img/leaf_02.png') }}" alt=""></div>
      <div><img src="{{ url_for('static', filename='img/leaf_03.png') }}" alt=""></div>
      <div><img src="{{ url_for('static', filename='img/leaf_04.png') }}" alt=""></div>
      <div><img src="{{ url_for('static', filename='img/leaf_01.png') }}" alt=""></div>
      <div><img src="{{ url_for('static', filename='img/leaf_02.png') }}" alt=""></div>
      <div><img src="{{ url_for('static', filename='img/leaf_03.png') }}" alt=""></div>
      <div><img src="{{ url_for('static', filename='img/leaf_04.png') }}" alt=""></div>
    </div>
  </div>
  <img class="ambient-trees" src="{{ url_for('static', filename='img/trees.png') }}" alt="">
</div>
